
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.quicksand-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: var(--font-fam);
    display: flex;
    justify-content: center;
}

:root {
  --rad: .4rem;
  --dur: .3s;
  --color-light: lightgray;
  --color-brand: darkgray;
  --font-fam: 'Quicksand', sans-serif;
  --height: 4rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

form {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
input, button {
  height: var(--height);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

input[type="search"] {
  outline: 0; 
  width: 100%;
  background: var(--color-light);
  font-family: "Quicksand", sans-serif;
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none; 
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
  font-size: 150%;
  text-align: center;
}

button {
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;

}
input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  + button {
    display: block;
  }

}
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

h1{
    text-align: center;
    margin-bottom: 20%;
    font-size: 400%;
}

img {
    height: 400px;
}

.ball-img {
    margin-top: 30%;
    display: flex;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
}